@if (errores?.length > 0) {
  <ul class="alert alert-danger">
    @for (err of errores; track $index) {
      <li>{{ err }}</li>
    }
  </ul>
}

<div class="card">
  <div class="card-header">

    <h5>
      {{ titulo }}
    </h5>

  </div>

  <div class="card-body">

    <form (ngSubmit)="onSubmit()">

      <div>
        <input
          placeholder="Name"
          name="name"
          [(ngModel)]="client.name"
          class="form-control my-2"
        >

      </div>

      <div>
        <input
          placeholder="Last Name"
          name="lastName"
          [(ngModel)]="client.lastName"
          class="form-control my-2"
        >
      </div>

      <div>
        <input
          placeholder="Email"
          name="email"
          [(ngModel)]="client.email"
          class="form-control my-2"
        >

      </div>

      <div>
        <input
          placeholder="Date"
          name="date"
          [(ngModel)]="client.createAt"
          class="form-control my-2"
          type="date"
        >
      </div>

      <div>
        <select
          [compareWith]="compareRegion"
          name="region"
          [(ngModel)]="client.region"
          class="form-select my-2"
        >

          <option [ngValue]="undefined">--- Seleccionar una region ---</option>

          @for (region of regions; track $index) {
            <option [ngValue]="region">{{ region.name }}</option>
          }

        </select>
      </div>

      <div>
        <button
          type="submit"
          class="btn btn-primary m-2"
        >
          {{ (client.id > 0) ? 'Update' : 'Create' }}
        </button>

      </div>

    </form>

  </div>

</div>
